// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  // background: $black !important;
}

.container.header {
  background: #f3f3f3;
}

table.container {
  margin-bottom: 8px;
  border-radius: 12px;
  overflow: hidden;
  background: $black;

  &:last-child {
    margin-bottom: 20px;
  }
  &:first-child {
    margin-top: 20px;
  }
}
.wrapper {
  padding: 18px 0;
  // padding-top: 18px;
  background: $dark-gray;
}

.body-drip {
  border-top: 8px solid #663399;
}

h1, h2, h3 {
  color: $white;
  line-height: 1.2;
  font-weight: 700;
}

p {
  &:last-child {
    margin-bottom: 0;
  }
  small {
    line-height: 1;
  }
}

.small {
  font-size: 14px;
}

.header {
  background: #8a8a8a;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

.button {
  &:last-child {
    margin-bottom: 0;
  }
  border-radius: 12px;
  overflow: hidden;

  img {
    display: inline-block;
    transform: translateY(4px);
  }
}

table.button.secondary table a {
  color: $primary-color !important;
}


.wrapper.secondary {
  background: #f3f3f3;
}

.img-wrap {
  margin-bottom: 16px;

  img {
    border-radius: 16px;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
  }
}

.wrapper.card-item {
  padding-bottom: 18px;
}

.card-item {

  h3 {
    margin-bottom: 8px;
  }

  &__img-wrap {
    position: relative;
    height: 130px;
    margin-bottom: 20px;

    img {
      position: relative;
      z-index: 2;
      object-fit: contain;
      width: 100% !important;
      height: 100% !important;
      object-position: bottom;
    }

    .before {
      position: absolute;
      top: 10%;
      right: 0;
      width: 50%;
      height: 50px;
      background: $primary-color;
      z-index: 0;
      border-radius: 100%;
      filter: blur(40px);
    }
  }
}

.footer {
  &__item {
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__links {
    a:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__col-title {
    margin-bottom: 8px;
  }

  &__col-link a {
    font-weight: 700;
    color: $white;
  }

  &__social-links  {
    img {
      display: inline-block;
      width: 19px;
    }

    a:not(:last-child) {
      margin-right: 36px;
    }
  }
  th.columns {
    padding-bottom: 0;
  }
}

.header {
  &__logo {
    max-width: max-content;

    img {
      display: inline-block;
      max-width: 178px;
    }
  }

  &__phone-wrapper {
    max-width: max-content;
    margin-left: auto;
    .phone a {
      color: $white;
      font-weight: 700;
    }

    .phone-link {
      display: inline-block;
      margin-bottom: 0;
      &:not(:last-child) {
        margin-right: 14px;
      }

      img {
        transform: translateY(4px);
        width: 24px;
      }
    }
  }
}

.fields-wrapper {
  margin-bottom: 16px;

  .field {
    padding: 8px;
    margin-bottom: 8px;
    background: $light-gray;
    border-radius: 8px;
  }

  span {
    color: $white;
  }
}